<article class="story js-story flex flex-col grow relative mb-3{{#if story_class}} {{story_class}}{{/if}}{{#unless feature_image}} story--no-image{{/unless}} group">
    <div class="story-card flex h-full flex-col overflow-hidden rounded bg-blank shadow-4xl transition-all duration-200 group-hover:shadow-card-primary">
        {{#if feature_image}}
            <figure class="story-image relative h-52 w-full overflow-hidden border-b border-gray-200 bg-gray-200">
                <a href="{{url}}" class="block h-full w-full">
                    <img class="story-img inset-image block h-full w-full object-cover blur-up lazyload"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-srcset="{{img_url feature_image size="xs"}} 100w,
                            {{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1000w"
                        data-sizes="auto"
                        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                    />
                </a>

                {{!-- Primary Tag- partials/components/primary-tag.hbs --}}
                {{#if primary_tag}}{{> "components/primary-tag" class="absolute top-3 right-3"}}{{/if}}
            </figure>
        {{/if}}

        <div class="story-body flex grow flex-col p-6">
            {{#unless feature_image}}
                {{#if primary_tag}}<div class="mb-4">{{> "components/primary-tag"}}</div>{{/if}}
            {{/unless}}

            {{!-- Date Time and reading Time - ./partials/components/datetime.hbs --}}
            {{#match @custom.story_meta "Read More"}}{{> "components/datetime" class="mb-3 text-sm font-medium text-gray-500"}}{{/match}}

            <h2 class="story-title text-2xl font-sans text-title leading-tight mb-3"><a href="{{url}}" class="block">{{title}}</a></h2>

            {{#if excerpt}}
            <p class="story-excerpt mb-5 text-lg leading-normal text-gray-500">
                <a href="{{url}}" class="block line-clamp-3">{{excerpt words="30"}}</a>
            </p>
            {{/if}}

            {{#match @custom.story_meta "Author"}}
            {{!-- Author - Primary Tag - Datetime - Read time - ./partials/components/author-meta.hbs --}}
            {{> "components/author-meta"}}

            {{else}}

            {{!-- Read more --}}
            <a href="{{url}}" class="link is-hover font-medium">{{t "Read more"}}<svg class="icon is-medium"><use xlink:href="#icon-arrow"></use></svg></a>
            {{/match}}
        </div>
    </div>
</article>