{{!-- Layout --}}
{{!< default}}

{{!-- Publication Cover - partials/home/publication-cover.hbs --}}
{{> "home/publication-cover"}}

{{!-- Feed Stories --}}
<div class="site-post container mx-auto py-vmin8" data-load-more>
    <div class="js-feed-entry max-w-1100 mx-auto grid md:grid-cols-2 lg:grid-cols-12 gap-6">
        {{#foreach posts}}
            {{#has number="1"}}
                {{> "story/story-grid" story_class="ss1 grid lg:col-span-full lg:grid-cols-3 gap-6"}}
            {{else has number="5, 6"}}
                {{> "story/story-grid" story_class="ss2 lg:col-span-6"}}
            {{else}}
                {{> "story/story-grid" story_class="lg:col-span-4"}}
            {{/has}}
        {{/foreach}}
    </div>

    <button type="button" class="js-load-more button is-primary h-12 w-56 mt-14 mx-auto hidden">{{t "Load More"}}</button>

    {{!-- Pagination - partials/pagination.hbs --}}
    {{pagination}}
</div>

{{#is "paged"}}
{{else}}
    {{> "home/tag-cloud"}}
    {{> "home/archive-year-strip"}}
{{/is}}