{{!-- Featured grid used on the homepage when the Featured cover is selected --}}
{{#get "posts" limit="4" filter="featured:true" include="tags" as |featured_posts|}}
    {{#if featured_posts}}
        {{#is "paged"}}
        {{else}}
            <section class="home-featured-collection">
                <div class="container mx-auto px-4 py-16">
                    <div class="home-featured-inner mx-auto max-w-5xl">
                        <div class="home-featured-header mb-10 flex flex-col gap-3 text-left">
                            <span class="home-featured-kicker text-xs font-semibold uppercase tracking-[0.4em] text-gray-500">{{t "Featured"}}</span>
                        </div>
                        <div class="home-featured-grid grid gap-10 sm:grid-cols-2 xl:grid-cols-4">
                            {{#foreach featured_posts}}
                                <article class="home-featured-card">
                                    {{#if feature_image}}
                                        <figure class="home-featured-figure">
                                            <a class="home-featured-image" href="{{url}}">
                                                <img class="home-featured-img blur-up lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="{{img_url feature_image size="xs"}} 100w, {{img_url feature_image size="s"}} 300w, {{img_url feature_image size="m"}} 600w, {{img_url feature_image size="l"}} 1000w" data-sizes="auto" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" />
                                            </a>
                                        </figure>
                                    {{/if}}
                                    <div class="home-featured-body">
                                        <h3 class="home-featured-card-title"><a href="{{url}}">{{title}}</a></h3>
                                        {{#if primary_tag}}
                                            <div class="home-featured-tags">
                                                <span class="home-featured-tag">{{primary_tag.name}}</span>
                                            </div>
                                        {{/if}}
                                    </div>
                                </article>
                            {{/foreach}}
                        </div>
                    </div>
                </div>
            </section>
        {{/is}}
    {{/if}}
{{/get}}
